<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhinavankur.giatros">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".GiatrosActivity"
            android:label="@string/title_activity_giatros"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login_activity" />
        <activity android:name=".SymptomsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".DiseaseAugmenter" />
        <activity android:name=".DiseaseAugmenterTwo" />
        <activity android:name=".DiseaseShowActivity" />
        <activity android:name=".DoctorsTestsActivity" />
        <activity
            android:name=".AppointmentActivity"
            android:label="@string/title_activity_appointment"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".NewSymptomsDoctorActivity" />
        <activity android:name=".SymptomDiseaseAssociateActivity" />
        <activity android:name=".SymptomAugmenterActivity" />
        <activity android:name=".NewSymptomsListActivity"></activity>
    </application>

</manifest>